<%- include('../partials/header') %>

<h1>Vehicles</h1>
<a href="/vehicles/add">+ Add Vehicle</a>

<table border="1" cellpadding="8" cellspacing="0" style="width:100%; margin-top:16px;">
    <thead>
        <tr>
            <th>#</th>
            <th>Vehicle No.</th>
            <th>Type</th>
            <th>Make/Model</th>
            <th>Customer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% vehicles.forEach((v, i) => { %>
        <tr>
            <td><%= i + 1 %></td>
            <td><%= v.vehicle_number %></td>
            <td><%= v.vehicle_type || '-' %></td>
            <td><%= v.make %> <%= v.model %></td>
            <td><%= v.customer_name %></td>
            <td>
                <a href="/vehicles/<%= v.id %>">View</a> |
                <a href="/vehicles/<%= v.id %>/edit">Edit</a>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %>
